[submodule "mari"]
	path = mari
	url = https://github.com/geonnave/mari.git
	branch = makefile-gateway-app
[submodule "DotBot-libs"]
	path = dotbot-libs
	url = https://github.com/DotBots/DotBot-libs.git
